	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/01/2019 13:45
  	*/


@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.7af4b0e97742.eot");
  src: url("../fonts/flaticon/font/Flaticon.7af4b0e97742.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.f431eea0a210.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.ac5db8f655cc.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.89694a182cfa.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/font/Flaticon.89694a182cfa.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-customer-support:before { content: "\f100"; }
.flaticon-route:before { content: "\f101"; }
.flaticon-online-booking:before { content: "\f102"; }
.flaticon-rent:before { content: "\f103"; }
.flaticon-review:before { content: "\f104"; }
.flaticon-dashboard:before { content: "\f105"; }
.flaticon-car-machine:before { content: "\f106"; }
.flaticon-car-seat:before { content: "\f107"; }
.flaticon-backpack:before { content: "\f108"; }
.flaticon-diesel:before { content: "\f109"; }
.flaticon-select:before { content: "\f10a"; }