{% load staticfiles %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BETTERLIFE</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'css/open-iconic-bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.theme.default.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />

    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}" />

    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="">BETTER<span>LIFE</span></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/about/" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/cities-list/" class="nav-link">List of Cities</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->
    
    <div
      class="hero-wrap"
      data-stellar-background-ratio="0.5"
      style="background-image: linear-gradient(#4776e6, #8e54e9); background-position: 50%;"
    >
      <!-- <div  class="hero-wrap"  data-stellar-background-ratio="0.5" style="background-image: linear-gradient(#93f9b9, #1d976c); background-position: 50%;"> -->
      <div class="overlay"></div>
      <div class="container">
        <div
          class="row no-gutters slider-text justify-content-start align-items-center"
        >
          <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-end">
            <div class="text">
              <h1 class="mb-4">
                Now <span>It's easy for you</span>
                <span>to live peacefully</span>
              </h1>
              <p style="font-size: 18px;">
                Find a better living with just one search.
              </p>
              <a
                href="https://vimeo.com/45830194"
                class="icon-wrap popup-vimeo d-flex align-items-center mt-4"
              >
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="ion-ios-play"></span>
                </div>
                <div class="heading-title ml-5">
                  <span>About BETTERLIFE</span>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-2 col"></div>
          <div class="col-lg-4 col-md-6 mt-0 mt-md-5 d-flex">
            <form
              action="{% url 'best_city' %}"
              class="request-form ftco-animate"
            >
              <h2>What city do you live in now?</h2>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="city-input"
                  placeholder="Input your city here.. "
                />
              </div>
              <div id="" class="form-group unadvanced">
                <input
                  id="unadvanced_button"
                  type="button"
                  value="Search Better City"
                  class="btn btn-primary py-3 px-4 unadvanced"
                  style="display: block"
                />
              </div>

              <div style="text-align: center; font-size:13px;">
                <a href="#" onclick="ShowAndHide()">Advanced Search</a>
              </div>

              <div id="advanced" class="advanced" style="display: none">
                  <div class="col-lg align-items-left">
                      <h2>What's your preference for the new city?</h2>
                  </div>
                <div class="col-lg align-items-end">
                  <div class="form-group">
                    <label for="#">Population Density</label>
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon">
                          <span class="ion-ios-arrow-down"></span>
                        </div>
                        <select name="" id="pd" class="form-control">
                          <option value="2">Very Important</option>
                          <option value="1">Important</option>
                          <option value="0">Not Important</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg align-items-end">
                  <div class="form-group">
                    <label for="#">AQI (Air Quality Index)</label>
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon">
                          <span class="ion-ios-arrow-down"></span>
                        </div>
                        <select name="" id="aqi" class="form-control">
                          <option value="2">Very Important</option>
                          <option value="1">Important</option>
                          <option value="0">Not Important</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg align-items-end">
                  <div class="form-group">
                    <label for="#">Living Cost Budget</label>
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon">
                          <span class="ion-ios-arrow-down"></span>
                        </div>
                        <select name="" id="lc" class="form-control">
                          <option value="2">Very Important</option>
                          <option value="1">Important</option>
                          <option value="0">Not Important</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

{#                <div class="col-lg align-items-end">#}
{#                  <div class="form-group">#}
{#                    <label for="#">Distance from current city</label>#}
{#                    <div class="form-field">#}
{#                      <div class="select-wrap">#}
{#                        <div class="icon">#}
{#                          <span class="ion-ios-arrow-down"></span>#}
{#                        </div>#}
{#                        <select name="" id="dist" class="form-control">#}
{#                          <option value="2">Very Important</option>#}
{#                          <option value="1">Important</option>#}
{#                          <option value="0">Not Important</option>#}
{#                        </select>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}

                <div class="form-group">
                  <input
                    id="advanced_button"
                    type="button"
                    value="Search Prefered City"
                    class="btn btn-primary py-3 px-4 advanced"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Autoroad</h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
              <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
              >
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Services</a></li>
                <li>
                  <a href="#" class="py-2 d-block">Term and Conditions</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">Best Price Guarantee</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block"
                    >Privacy &amp; Cookies Policy</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Customer Support</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">FAQ</a></li>
                <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                <li><a href="#" class="py-2 d-block">How it works</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon icon-map-marker"></span
                    ><span class="text"
                      >203 Fake St. Mountain View, San Francisco, California,
                      USA</span
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-phone"></span
                      ><span class="text">+2 392 3929 210</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-envelope"></span
                      ><span class="text">info@yourdomain.com</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="icon-heart color-danger" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
 -->

    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script src="{% static 'js/scrollax.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="{% static 'js/google-map.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function() {
        var availableTags = {% autoescape off %}{{ cities }}{% endautoescape %};
        $("#city-input").autocomplete({
          source: availableTags
        });
      });
    </script>
    <script>
      function ShowAndHide() {
        var x = document.getElementsByClassName("advanced")[0];
        var y = document.getElementsByClassName("unadvanced")[0];
        console.log(x, y);
        if (x.style.display == "none" && y.style.display == "block") {
          x.style.display = "block";
          y.style.display = "none";
        } else {
          x.style.display = "none";
          y.style.display = "block";
        }
      }
      var link = function() {
        var city_name = document.getElementById("city-input").value;
        var population_density = document.getElementById("pd").value;
        var air_quality_index = document.getElementById("aqi").value;
        var living_cost = document.getElementById("lc").value;

        if (city_name) {
          location.href = `/best_city/?city=${city_name}&pd=${population_density}&aqi=${air_quality_index}&lc=${living_cost}`;
        }
      };
      document.getElementById("unadvanced_button").onclick = link;
      document.getElementById("advanced_button").onclick = link;
    </script>
  </body>
</html>
{% endblock content %}
