{% load staticfiles %}
{% load static %}	
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BETTERLIFE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">

    
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
		<a class="navbar-brand" href="/">BETTER<span>LIFE</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
			<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
			<li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
			<li class="nav-item"><a href="/cities-list/" class="nav-link">List of Cities</a></li>

			</ul>
		</div>
		</div>
	</nav>
	
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: linear-gradient(#4776e6, #8e54e9)" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="#">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Result <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Better Cities for You</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-cart">
		<div class = "container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-10 text-center d-flex ftco-animate">
						<div class="blog-entry justify-content-end">
							<h1 class="mb-3 bread">Your Result:</h1>
						
							
							<div class="container">
									<div class="row justify-content-center mb-5">
								<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
									<span class="subheading">..</span>
									<h2 class="mb-3" style="color: black">{{ best_cities.0.0 }}</h2>
								</div>
								</div>
									<div class="row">
									
								<div class="col-md-3 d-flex justify-content-center ftco-animate">
										<div class="media block-6 services services-2">
										<div class="media-body py-md-5 text-center">
											<div class="icon d-flex align-items-center justify-content-center"><img src = "{% static 'images/distance.png' %}" style = "width: 50%"></div>
											<h3 style="color: black">Distance from <br> Your City</h3>
											<strong><h1 style = "color: #fc983c">{{ best_cities.0.1.distance }} km</h1></strong>
										</div>
										</div>      
									</div>
										<div class="col-md-3 d-flex justify-content-center ftco-animate">
									<div class="media block-6 services services-2">
									<div class="media-body py-md-5 text-center">
										<div class="icon d-flex align-items-center justify-content-center"><img src = "{% static 'images/multiple-users-silhouette.png' %}" style = "width: 50%"></div>
										<h3 style="color: black">Population <br> Density</h3>
										<strong><h1 style = "color: #fc983c">{{ best_cities.0.1.population_density }}</h1></strong>
									</div>
									</div>      
								</div>
								<div class="col-md-3 d-flex justify-content-center ftco-animate">
									<div class="media block-6 services services-2">
									<div class="media-body py-md-5 text-center">
										<div class="icon d-flex align-items-center justify-content-center"><img src = "{% static 'images/o2-symbol-in-a-cloud.png' %}" style = "width: 50%"></div>
										<h3 style="color: black">Air Quality <br>Index (AQI)</h3>
										<strong><h1 style = "color: #fc983c">{{ best_cities.0.1.aqi }}</h1></strong>
									</div>
									</div>      
								</div>
								<div class="col-md-3 d-flex justify-content-center ftco-animate">
									<div class="media block-6 services services-2">
									<div class="media-body py-md-5 text-center">
										<div class="icon d-flex align-items-center justify-content-center"><img src = "{% static 'images/money.png' %}" style = "width: 50%"></div>
										<h3 style="color: black">Living Cost <br>Budget</h3>
										<strong><h1 style = "color: #fc983c">$ {{ best_cities.0.1.living_cost }}</h1></strong>
									</div>
									</div>      
								</div>

							
									</div>
							</div>
					</div>
				
				</div>
			</div>
		</div>
	</section>

	
    <section class="ftco-section ftco-cart">
			<div class="container">
					
				<div class="row">
				{% if runnerUp|length >= 1 %}
    			<div class="col-md-12 ftco-animate">
						<h3 class="mb-3 bread">Other Cities:</h3>
    				<div class="car-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
								<th class="bg-primary" style = "vertical-align:middle">City Name</th>
								<th class="bg-dark "  style = "vertical-align:middle"> Distance from <br> Your City</th>
						        <th class="bg-black "  style = "vertical-align:middle"> Population <br>Density</th>
						        <th class="bg-dark "  style = "vertical-align:middle"> Air Quality <br> Index (AQI)</th>
						        <th class="bg-black "  style = "vertical-align:middle"> Living Cost <br>Budget</th>
						      </tr>
						    </thead>
						    <tbody>
								{% for city, value in runnerUp %}
						      <tr class="">
						      
						        <td class="price">
						        	<span class = "num" style = "color: #fc983c">{{ city }}</span>
					
								</td>
								<td class="price">
						        	
										<div>
											<h3>
												<span class="num">{{ value.distance }}</span>
	
											</h3>
											<span class="subheading" style= "opacity:0.5;">km</span>
										</div>
									</td>

						        <td class="price">
						        	
						        	<div>
							        	<h3>
							        		<span class="num">{{ value.population_density }}</span>

							        	</h3>
							        	<span class="subheading" style= "opacity:0.5;">High</span>
						        	</div>
						        </td>

						        <td class="price">
						        	
						        	<div>
							        	<h3>
							        		<span class="num"> {{ value.aqi }}</span>

							        	</h3>
							        	<span class="subheading" style= "opacity:0.5;">Healthy</span>
						        </div>
						        </td>

						        <td class="price">
						        	
						        	<div>
							        	<h3>
							        		<span class="num"><small class="currency">$</small>{{ value.living_cost }}</span>
							        		<span class="per"><br> /per year</span>
							        	</h3>

							        </div>
						        </td>
						      </tr><!-- END TR-->
                            {% endfor %}


						    </tbody>
						  </table>
					  </div>
				</div>
				{% endif %}
    		</div>
			</div>
		</section>
		</section>



    <footer class="ftco-footer ftco-bg-dark ftco-section" style="margin-top: 100px;">
      <div class="container">
        <div class="row mb-5">	
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Autoroad</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Services</a></li>
                <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
                <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
                <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Customer Support</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">FAQ</a></li>
                <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                <li><a href="#" class="py-2 d-block">How it works</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>

{% endblock content %}